{{>header}}
    <div class="alert alert-success" role="alert">
        {{response.message}}
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Modality</th>
                <th scope="col">Intensity</th>
            </tr>
        </thead>
        <tbody>
            {{tableOfCourses}}
        </tbody>
    </table>
{{>footer}}